<h2> <%= @cocktail_bar.name %> </h2>

<img src=<%= @cocktail_bar.image_url %> alt="Yelp Picture" class="img-thumbnail" width="200" height="300">

<p>
Phone Number: <%= @cocktail_bar.phone_number %>
<br>
Address: <%= @cocktail_bar.address %>
<br>
Rating: <%= @cocktail_bar.rating %>
<br>

<!-- if signed in -->
<br>
<h3>Reviews</h3>

<%= render partial: 'reviews/new', locals: {cocktail_bar: @cocktail_bar} %>

<br>

<%= link_to "Make this a favorite" %>
<br>

</p>



<!-- <li> cocktail_bar.yelp_url %></li> -->

<!-- css - do a creative box with info and logo and pics  -->
