<h2> <%= @cocktail_bar.name %> </h2>


<p>
Phone Number: <%= @cocktail_bar.phone_number %>
<br>
Address: <%= @cocktail_bar.address %>
<br>
Rating: <%= @cocktail_bar.rating %>
<br>

<!-- if signed in -->

<%= link_to "Leave a review" %>
<br>

<%= link_to "Make this a favorite" %>
<br>

</p>

<img src=<%= @cocktail_bar.image_url %> alt="Yelp Picture" class="img-thumbnail" size=>


<!-- <li> cocktail_bar.yelp_url %></li> -->

<!-- css - do a creative box with info and logo and pics  -->
