<h2> <%= @cocktail_bar.name %> </h2>

<img src=<%= @cocktail_bar.image_url %> alt="Yelp Picture" class="img-thumbnail" width="200" height="300">

<p>
Phone Number: <%= @cocktail_bar.phone_number %>
<br>
Address: <%= @cocktail_bar.address %>
<br>
Rating: <%= @cocktail_bar.rating %>
<br>
<%= link_to "Visit Yelp Page", @cocktail_bar.yelp_url %>
<br>

<!-- if signed in -->

<% if logged_in? %>
  <%= link_to "Leave A Review", new_cocktail_bar_reviews_path(@cocktail_bar) %>
<br>
  <% if @cocktail_bar.favs.empty? %>
  <%= render partial: "favs/new", locals: {user: current_user, cocktail_bar: @cocktail_bar } %>
<br>
  <% elsif !@cocktail_bar.favs.empty? %>
  <%= render partial: "favs/edit", locals: {user: current_user, cocktail_bar: @cocktail_bar } %>
  <% end %>
<% end %>



<!-- <li> cocktail_bar.yelp_url %></li> -->

<!-- css - do a creative box with info and logo and pics  -->
