<br>
  <br>

<h4> Please enter your info below to login! </h4>

  <% flash.each do |type, msg| %>
    <div class="alert alert-info">
      <%= msg %>
    </div>
  <% end %>

  <br>

  <%= form_for :user do |f| %>

  <%= f.label "email:" %>
  <%= f.email_field :email %>
  <br>
  <%= f.label "password:" %>
  <%= f.password_field :password %>
  <br>
    <br>
  <%= f.submit "Login" %>

  <% end %>

  <P> OR sign in with your google account </P>

  <%= link_to "Sign-in with Google", '/auth/google_oauth2' %>


  <%# add required after validations %>
