<br>
  <br>
<h4>Edit Your Account:</h4>
<br>

<%= form_with model: @user, local: true do |f| %>
  <%= f.label "username:" %>
  <%= f.text_field :username %>
  <br>
  <%= f.label "email:" %>
  <%= f.email_field :email %>
  <br>
  <%= f.label "password:" %>
  <%= f.password_field :password %>
  <br>
  <%= f.label "city:" %>
  <%= f.text_field :city %><br>
  <br>
  <%= f.label "state:" %>
  <%= f.text_field :state %>
  <br>
  <%= f.label "favorite_cocktail:" %>
  <%= f.text_field :favorite_cocktail %>
  <br>
  <br>
  <%= f.submit "Submit Edit" %>

<% end %>
<%# add required after validations %>
