
<h2> Welcome <%= @user.username %> </h2>
<br>


Email: <%= @user.email %>
<br>
City: <%= @user.city %>
<br>
State: <%= @user.state %>
<br>
My Favorite Cocktail: <%= @user.favorite_cocktail %>
<br>

<%# add avatar or profile picture - wish list %>
