
<h2> Welcome <%= @user.username %> </h2>
<br>

<% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>

Email: <%= @user.email %>
<br>
City: <%= @user.city %>
<br>
State: <%= @user.state %>
<br>
My Favorite Cocktail: <%= @user.favorite_cocktail %>
<br>

<%# add avatar or profile picture - wish list %>
