<h2>Search Show Page</h2>

<ol>
<% @search.cocktail_bars.each do |cb| %>

  <li><%= cb.name %> | <%= cb.address %> | <%= cb.phone_number %> | <%= cb.rating %>  </li>

  <!-- <li><%= cb.image_url %></li>
  <li><%= cb.yelp_url %></li> -->

<% end %>
</ol>
