<!DOCTYPE html>
<html>
  <head>
    <title>Tipsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <!-- <%= render 'layouts/navbar' %> -->

  <body
    <div>
      <% if logged_in? %>
      <%= link_to "Home Page", root_path %> |
      <%= link_to "My Page", user_path(current_user) %> |
      <%= link_to "View My Reviews", reviews_path %> |
      <%= link_to "Log Out", logout_path, method: "delete" %>
      <% else %>
      <%= link_to "Log In", login_path %> |
      <%= link_to "Sign Up", signup_path %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
